<li>
	{{id}}
	{{name}}
	<button style="float: right;" class="change-fresh btn-small orange accent-4" data-id="{{id}}" data-newfresh="{{fresh}}">
		{{#if fresh}}Freshen It!{{else}}CRUSH IT!{{/if}}
	</button>
</li>
